*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

body{
    color: black ;
    background-color: black;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.container{
    width: 30rem;
    padding: 2.5%;
    border-radius:8px;
    background-color: snow;
    text-align:center  ;
    font-family:'Courier New', monospace, sans-serif;
    font-size: 30px;
}

button{
    display: block;
    width: 100%;
    background-color: dimgrey;
    margin-top: 5px;
    font-size: 35px;
    font-family: 'Gill Sans MT', 'Trebuchet MS';
    color: aliceblue;
    border: 2px black solid;
    border-radius: 5px;
    }